.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 108rpx;
}

.header {
  margin-bottom: 48px;
}

.title {
  font-size: 120rpx;
}

.start {
  width: 100%;
}

.mode {
  display: flex;
  align-items: center;
  column-gap: 12px;

  &-text {
    font-size: 24rpx;
  }
}